#exportPattern("^[[:alpha:]]+")


import(dplyr)
import(maps)
import(readr)
import(tidyr)
import(graphics)

export(fars_read)
export(make_filename)
export(fars_read_years)
export(fars_summarize_years)
export(fars_map_state)
